@charset "utf-8";
/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.webroot.css
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

* {
    margin: 0;
    padding: 0;
}

/** General Style Info **/
body {
    background: #003d4c;
    color: #fff;
    font-family: 'lucida grande', verdana, helvetica, arial, sans-serif;
    font-size: 90%;
    margin: 0;
}

a {
    color: #003d4c;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #002200;
    text-decoration: none;
}

a img {
    border: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 {
    background: #fff;
    color: #003d4c;
    font-size: 100%;
}

h2 {
    background: #fff;
    color: #e32;
    font-family: 'Gill Sans', 'lucida grande', helvetica, arial, sans-serif;
    font-size: 190%;
}

h3 {
    color: #2c6877;
    font-family: 'Gill Sans', 'lucida grande', helvetica, arial, sans-serif;
    font-size: 165%;
}

h4 {
    color: #993;
    font-weight: normal;
}

ul, li {
    margin: 0 12px;
}

p {
    margin: 0 0 1em 0;
}

/** Layout **/
#container {
    text-align: left;
}

#header {
    padding: 10px 20px;
}

#header h1 {
    line-height: 20px;
    background: #003d4c url('../img/cake.icon.png') no-repeat left;
    color: #fff;
    padding: 0px 30px;
}

#header h1 a {
    color: #fff;
    background: #003d4c;
    font-weight: normal;
    text-decoration: none;
}

#header h1 a:hover {
    color: #fff;
    background: #003d4c;
    text-decoration: underline;
}

#content {
    background: #fff;
    clear: both;
    color: #333;
    padding: 10px 20px 40px 20px;
    overflow: auto;
}

#footer {
    clear: both;
    padding: 6px 10px;
}

#header a, #footer a {
    color: #fff;
}