@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #666;
    font-family: tahoma, verdana, helvetica, arial, sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../main.otf'); /* IE9 Compat Modes */
    src: url('../main.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../main.otf') format('woff2'), /* Super Modern Browsers */ url('../main.otf') format('woff'), /* Pretty Modern Browsers */ url('../main.otf') format('truetype'), /* Safari, Android, iOS */ url('../main.otf#svgFontName') format('svg'); /* Legacy iOS */
}

a.logo {
    font-family: 'MyWebFont';
    font-size: 44px;
}

#content {
    min-height: 900px;
    width: 100%;
    margin: auto;
    margin-top: 160px;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

#sub_content {
    min-height: 900px;
    width: 980px;
    margin: auto;
}

#container {
    position: relative;
}

.form_buttons {
    text-align: center;
    margin: auto;
}

header {
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0px;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
}

header a {
    color: #fff;
}

header .fwidth {
    width: 990px;
    margin: auto;
    padding-top: 10px;
    text-align: left;
    box-sizing: border-box;
}

#sub_header_content {
    width: 980px;
    margin: auto;
}

.subcontent {
    width: 960px;
    margin: auto;
}

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.site_header {
    width: 340px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: auto;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    /*margin-bottom: 60px;*/
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    /*margin-top: 131px;*/
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
}

.main_content {
    width: 990px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

footer .fwidth {
    width: 990px;
    margin: auto;
    padding-top: 10px;
    text-align: left;
    box-sizing: border-box;
}

.new_playground, .feedback_form, .register_form {
    width: 990px;
    min-height: 300px;
    background: rgba(19, 51, 92, 0.3);
    border-radius: 30px;
    padding: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #354b77;
    box-sizing: border-box;
}

.dir_hr {
    margin: 10px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #224582, #ceeeff, #224582);
    background-image: -moz-linear-gradient(left, #224582, #ceeeff, #224582);
    background-image: -ms-linear-gradient(left, #224582, #ceeeff, #224582);
    background-image: -o-linear-gradient(left, #224582, #ceeeff, #224582);
}

.form_hr {
    margin: 15px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #224582, #545eb0, #224582);
    background-image: -moz-linear-gradient(left, #224582, #545eb0, #224582);
    background-image: -ms-linear-gradient(left, #224582, #545eb0, #224582);
    background-image: -o-linear-gradient(left, #224582, #545eb0, #224582);
}

.site_link {
    display: inline-block;
    vertical-align: top;
    padding: 6px;
    margin-left: 13px;
    font-size: 13px;
    color: #030a12;
    text-shadow: 1px 1px 1px rgba(85, 112, 138, 0.8);
    text-decoration: none;
    background: rgba(47, 56, 107, 0.27);
    margin-bottom: 6px;
    margin-top: 6px;
    border-bottom: 1px solid #27274f;
    background: #ad5ab180;
    width: 132px;
    text-align: center;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;

}

.links {
    text-align: left;
}

.np_title {
    text-align: left;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.np_title div {
    width: 130px;
    border: 1px solid #0e1827;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 2px;
    font-size: 12px;
    color: #d7bc7e;
    padding-left: 15px;
}

.main_nav_wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 14px;
    padding: 0px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.main_nav_element {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-left: 1px solid #052b62;
    width: 115px;
    display: inline-block;
    text-align: center;
    margin-left: -1px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-transform: uppercase;
}

.main_nav_element:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9), -1px 0px 1px rgba(0, 0, 0, 0.9);
    background:#fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
}

.np_wallet, .np_game_result, .some_info {
    margin-top: 4px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    height: 45px;
    border: 1px solid #0e1827;
    border-radius: 6px;
    background: #13223c;
    font-size: 12px;
    color: #d7bc7e;
    padding-top: 10px;
    padding-left: 10px;
    background: -moz-linear-gradient(top, #13223c 0%, #374781 100%);
    background: -webkit-linear-gradient(top, #13223c 0%, #374781 100%);
    background: linear-gradient(to bottom, #13223c 0%, #374781 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13223c', endColorstr='#374781', GradientType=0);
}
.np_game_result {
    position: relative;
    width: 704px;
    height: 120px;
    padding: 6px;
    padding-top: 10px;
}

.np_wallet {
    width: 205px;
    margin-left: 4px;
    height: 38px;
}

.some_info{
    width: 928px;
    height: 26px;
    color: #fff;
    font-size: 14px;
}

.np_coins_icon {
    background-image: url('../img/design/coins.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}

.np_score_icon {
    background-image: url('../img/design/stavki.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}

.np_value {
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(70,0,0,0.99);
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 6px;

}

.winner_numbers_3x {
    margin-top: 8px;
    margin-left: 8px;
    display: inline-table;
    text-align: center;
    width: 32px;
    height: 32px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 8px;
    padding-top: 10px;
    background: #ea02bc;
    font-size: 22px;
    font-weight: 900;
    vertical-align: top;
    line-height: 32px;
    color: #fff;
}

.winner_numbers_5x {
    margin-top: 7px;
    margin-left: 8px;
    display: inline-table;
    text-align: center;
    width: 45px;
    height: 45px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 8px;
    padding-top: 10px;
    background: #ea02bc;
    font-size: 24px;
    font-weight: 900;
    vertical-align: top;
    line-height: 41px;
    color: #fff;
}

.winner_numbers_10x {
    position: absolute;
    top: 25px;
    left: 10px;
    text-align: center;
    width: 66px;
    height: 66px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    padding: 8px;
    padding-top: 10px;
    background:#ea02bc;
    font-size: 36px;
    font-weight: 900;
    line-height: 66px;
    color: #fff;
}

.winner_numbers_2x {
    margin-top: 4px;
    margin-left: 6px;
    display: inline-table;
    text-align: center;
    width: 23px;
    height: 23px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 6px;
    padding-top: 5px;
    background: #ea02bc;
    font-size: 15px;
    font-weight: 900;
    vertical-align: top;
    line-height: 22px;
    color: #fff;
}

.winner_5x_container{
    position: absolute;
    top: 58px;
    left: 120px;
    width: 200px;
}

.winner_numbers {
    box-shadow: 2px 2px 2px #00176c;
    -o-box-shadow: 2px 2px 2px #00176c;
    -webkit-box-shadow: 2px 2px 2px #00176c;
    -moz-box-shadow: 2px 2px 2px #00176c;
}


.winner_numbers_empty, .rerun_empty {
    background: rgba(0,0,0,0.08) !important;
    color: rgba(0,0,0,0.26) !important;
}

.rerun{
    position: absolute;
    top: 100px;
    left: 430px;
    width: 130px;
    font-size: 14px;
    text-align: center;
    box-shadow: 2px 2px 2px #00176c;
    -o-box-shadow: 2px 2px 2px #00176c;
    -webkit-box-shadow: 2px 2px 2px #00176c;
    -moz-box-shadow: 2px 2px 2px #00176c;
}

.score_win{
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
    background-image: url('../img/design/stavki.png');
    position: absolute;
    top: 100px;
    text-shadow: 1px 1px 1px rgba(70,0,0,0.99);
}

.score_win_2{
    right: 330px;
    width: 60px;
    font-size: 24px;
}

.score_win_5{
    right: 260px;
    width: 60px;
    font-size: 24px;
}

.score_win_10{
    right: 178px;
    width: 74px;
    font-size: 24px;
}

.score_win_20{
    right: 94px;
    width: 74px;
    font-size: 24px;
}
.score_win_50{
    right: 10px;
    width: 74px;
    font-size: 24px;
}

.score_empty {
    filter: brightness(40%)  opacity(40%);
    color: rgba(0,0,0,0.26) !important;
    text-shadow: none;
}

.winner_2x_container{
    position: absolute;
    top: 2px;
    right: 5px;
    width: 260px;
    text-align: center;
}

.winner_3x_container{
    position: absolute;
    top: 0px;
    left: 130px;
    width: 320px;
    text-align: center;
}

.win_block{
    position: relative;
    width: 210px;
    height: 64px;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}

.win_score_result{
    height: 30px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 40px;
    background-image: url('../img/design/stavki.png');
    margin-top: 12px;
    margin-left: 6px;
    text-shadow: 1px 1px 1px rgba(70,0,0,0.99);
    font-size: 24px;
    display: inline-block;
}

.win_coins_result{
    height: 30px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 40px;
    background-image: url('../img/design/coins.png');
    margin-top: 12px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px rgba(70,0,0,0.99);
    font-size: 24px;
    display: inline-block;
}

.result_block{
    display: inline-block;
    vertical-align: top;
}

.no_prize{
    color: #b7c5ff;
    padding: 4px;
    border: 1px solid #19356b;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    font-size: 13px;
}

.logo_name{
    font-size: 27px;
    color: #a0daf5;
    font-family: 'MyWebFont';
}

h2{
    font-size: 13px;
    color: #fff;
}

.footer_links, .footer_logo{
    display: inline-block;
    vertical-align: top;
}

.footer_links{
    margin-left: 30px;
}

.footer_link{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
}
.footer_link:hover{
    text-decoration: underline;
}

.record_place, .record_win, .record_user, .record_time, .record_score{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.record_place{
    width: 45px;
}
.record_win, .record_score{
    width: 110px;
}

.record_time{
    width: 120px;
}
.record_user{
    width: 400px;
}
 .record_note{
    width: 950px;
    margin-top: 4px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    height: 25px;
    border: 1px solid #0e1827;
    border-radius: 6px;
    background: rgba(19, 34, 60, 0.55);
    font-size: 12px;
    color: #d7bc7e;
    padding-top: 10px;
    padding-left: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13223c', endColorstr='#374781', GradientType=0);
}
 h3{
     color: #1a051a;
     text-shadow: 1px 1px 1px rgba(206, 172, 255, 0.49);
     margin: 10px;
 }

 .auth_form_element{
     display: inline-block;
     vertical-align: top;
 }

 .auth_form, .account_menu{
     background: #172047;
     padding: 6px;
     padding-top: 10px;
     padding-left: 12px;
 }

 .game_log{
     background: #172047;
     padding: 8px;
     text-align: left;
     margin-top: 10px;
     border-radius: 12px;
     border-bottom: 1px solid #5a71a8;
 }

 .game_log_item{
     padding: 8px;
     display: inline-block;
     vertical-align: top;
     background: rgba(0,0,0,0.25);
     color: #fff;
     margin-right: 4px;
     font-size: 12px;
     border: 1px solid #1c3356;
     margin-bottom: 4px;
 }

 .game_log_item a {
     color: #fff;
     font-size: 12px;
 }

.game_log_item img {
    width: 18px;
    height: 18px;
    vertical-align: top;
}

 .login_form_element{
     background: #000;
     border: none;
     border-bottom-width: medium;
     border-bottom-style: none;
     border-bottom-color: currentcolor;
     box-shadow: inset 0px 0px 5px rgba(15, 30, 57, 0.5);
     border-bottom: 1px solid #282854;
     border-right: 1px solid #282854;
     padding: 4px;
     font-size: 12px;
     color: #fff;
     margin-right: 8px;
     margin-left: 8px;
     margin-top: 3px;
     border-radius: 6px;
 }

.login_form_submit{
    width: 100px;
    background: #000;
    height: 24px;
    border: 1px solid #283150;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #6e79b7;
    font-size: 14px;
    line-height: 14px;
    padding-top: 0px;
    border-radius: 6px;
    margin-top: 3px;
}

.login_form_submit:hover{
    cursor: pointer;
    background: #ea0069;
    color: #000;
    text-shadow: none;
}

.simple_link{
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    color: #fff;
    font-size: 13px;
    margin: 6px;
}

.simple_link:hover{
    text-decoration: none;
}

.enter_icon {
    color: #040a17;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgba(61, 61, 96, 0.5);
}

.wide_small{
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px #54729f;
    line-height: 20px;
    margin: 4px;
}

.mini_link{
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px #54729f;
    line-height: 20px;
    margin: 4px;
    font-weight: 900;
}

.mini_link:hover{

    text-decoration: none;
}

.left_column_text{
    text-align: left;
}

.project_image{
    margin: 30px auto;
}

.content_box{
    min-height: 700px;
}

.user_photo_min img{
    width: 30px;
    height: 30px;
}

.user_photo_min{
    display: inline-block;
    vertical-align: top;
}

.account_menu .user_login{
    font-size: 14px;
    color: #fff;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-left: 10px;
    text-decoration: none;
}

.account_menu .user_login:hover{
    text-decoration: underline;
}

.account_menu .mini_wallet{
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    text-align: left;
    height: 30px;
    border: 1px solid #0e1827;
    border-radius: 6px;
    background: #13223c;
    font-size: 12px;
    color: #d7bc7e;
    padding-left: 10px;
    margin-left: 12px;
    padding-top: 5px;
    padding-right: 5px;
}

.mini_wallet .np_score_icon, .mini_wallet .np_coins_icon{
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}

.mini_wallet .np_score_icon{
    background-image: url('../img/design/stavki.png');
}

.mini_wallet .np_coins_icon {
    background-image: url('../img/design/coins.png');
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.account_link{
    line-height: 26px;
    margin-left: 8px;
    font-size: 24px;
    background: #444977;
    color: #07131e;
    text-shadow: 1px 1px 1px rgba(52, 63, 110, 0.9);
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #484c6f;
}

.account_link:hover {
    cursor: pointer;
    background: #0f0f36;
    color: #c9d7ff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #162853;
}

.mini_wallet .np_value {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(70,0,0,0.99);
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 6px;

}

.auth_error{
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #080000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(8, 0, 0);
    padding: 3px;
    text-shadow: 1px 1px 1px rgba(102, 3, 3, 0.9);
    background: #c80404e6;
    border-bottom: 1px solid #920202;
}

.feedback_form, .register_form{
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.feed_name {
    text-align: left;
    min-width: 250px;
    margin-bottom: 20px;
}

.feed_name input, .short_reg_field {
    background: #091b3b;
    color: #fff;
    border: 0px;
    padding: 4px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: inset 0px 0px 5px rgba(15, 30, 57, 0.5);
    border-bottom: 1px solid #4e4e99;
    border-right: 1px solid #5e5e95;
    display: inline-block;
}

.feed_text textarea {
    width:100%;
    min-height: 160px;
    background: #091b3b;
    color: #fff;
    border: 0px;
    padding: 4px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: inset 0px 0px 5px rgba(15, 30, 57, 0.5);
    border-bottom: 1px solid #4e4e99;
    border-right: 1px solid #5e5e95;

}

.feedback_form input[type=submit], .register_form input[type=submit]{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 13px;
    background: #3e609e;;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #230303;
    cursor: pointer;
    border-radius: 4px;
    color: #000006;
    text-shadow: 1px 1px 1px rgba(138, 158, 192, 0.9);
    box-shadow: none;
    font-size: 16px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.feedback_form input[type=submit]:hover, .register_form input[type=submit]:hover {
    background: #ea0069;
    color: #200000;
    text-shadow: 1px 1px 1px rgba(255, 218, 233, 0.9);
    box-shadow: inset 0px 8px 8px rgba(255, 0, 126, 0.9), inset 0px -8px 8px rgba(174, 0, 86, 0.9);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.feed_contact{
    width: 360px;
    margin-left: 16px;
}

.captcha_input{
    background: #091b3b;
    color: #fff;
    border: 0px;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: inset 0px 0px 5px rgba(15, 30, 57, 0.5);
    border-bottom: 1px solid #4e4e99;
    border-right: 1px solid #5e5e95;
    width: 160px;
    height: 35px;
    margin-top: 8px;
    margin-left: 8px;
}

.captcha_image{
    height: 40px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

.reg_name{
    text-align: left;
}

.blue_text{
    padding: 10px;
    border-radius: 20px;
    background: #091A3A;
    color: #fff;
    border-bottom: 1px solid #4a548a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 4px 4px rgba(0, 1, 2, 0.35);
}

.simple_link_2{
    line-height: 14px;
    color: #fff;
    font-size: 13px;
}

.simple_link_2:hover{
    text-decoration: none;
}