#scene {
    display: block;
    height: 700px;
    margin: 10px auto;
    position: relative;
    width: 650px;
}

.info_block {
    border: 1px solid #bdbdbd;
    box-shadow: 2px 2px 2px #666;
    border-radius: 3px;
    background: #ffe788;
}

.message_block {
    border: 1px solid #bdbdbd;
    box-shadow: 2px 2px 2px #666;
    border-radius: 3px;
}

#datepicker {
    font-size: 10px;
}

#gold_value {
    width: 60px;
}

.chat_cell {
    display: table-cell;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffffff); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffffff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #cccccc); /* IE10+ */
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #ffffff;
}

.chat_row {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffffff); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffffff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #ffffff); /* IE10+ */
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #ffffff;
}

.attention {
    color: red;
}

.success {
    color: green;
}

.inwork {
    color: #cc6600;
}

h1 {
    margin: 10px;
    line-height: 20px;
    font-size: 18px;
    font-family: tahoma;
    color: #0c162a;
}

.ext_link {
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 0px;
    line-height: 15px;
    font-size: 12px;
    font-family: tahoma;
    color: #9bcfff;
}

.ext_link:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    margin: 0px;
    text-indent: 0px;
    line-height: 15px;
    font-size: 12px;
    font-family: tahoma;
    color: #b01b20;
}

.red_text {
    font-weight: bold;
    margin: 4px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #ffaa44;
}

.avatar {
    width: 200px;
    height: 200px;
}

#avatar_block {
    display: none;
    width: 650px;
    height: 30px;
    padding: 5px 0 0 0;
    text-align: center;
    border: 2px solid #b01b20;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.edit_button a {
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    display: block;
    width: 180px;
    height: 22px;
    padding: 5px 0 0 0;
    color: #fff;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeecc', endColorstr='#cccccc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffeecc), to(#cccccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffeecc, #cccccc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #ffeecc, #cccccc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffeecc, #cccccc); /* IE10+ */
    border: 2px solid #cccccc;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

.button a {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    width: 150px;
    height: 22px;
    padding: 5px 0 0 0;
    color: #fff;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeecc', endColorstr='#cccccc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffeecc), to(#cccccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffeecc, #cccccc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #ffeecc, #cccccc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffeecc, #cccccc); /* IE10+ */
    border: 2px solid #ffeecc;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

.input_button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    width: 100px;
    height: 22px;
    color: #fff;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeecc', endColorstr='#cccccc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffeecc), to(#cccccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffeecc, #cccccc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #ffeecc, #cccccc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffeecc, #cccccc); /* IE10+ */
    border: 2px solid #ffeecc;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 4px;
}

.levelsTable {
    border-collapse: collapse;
    line-height: 12px;
    font-size: 12px;
    font-family: tahoma;
    color: #0c162a;
}

.levelsTable td {
    border: 1px dashed #999;
    height: 20px;
}

.levelsTableCell td {
    border: none;
}

.header {
    margin: 4px;
    line-height: 16px;
    font-size: 14px;
    font-family: tahoma;
    color: #cccccc;
}

.big {
    margin: 4px;
    line-height: 16px;
    font-size: 20px;
    font-family: tahoma;
    color: #0c162a;
    font-weight: bold;
}

.middle {
    margin: 4px;
    line-height: 18px;
    font-size: 15px;
    font-family: tahoma;
    color: #0c162a;
    font-weight: bold;
}

.small {
    margin: 2px;
    line-height: 14px;
    font-size: 12px;
    font-family: tahoma;
    color: #0c162a;
}

.yellow {
    margin: 0px;
    line-height: 16px;
    font-size: 16px;
    font-family: tahoma;
    color: #ffeecc;
    font-weight: bold;
}

.yellow_small {
    margin: 0px;
    line-height: 14px;
    font-size: 12px;
    font-family: tahoma;
    color: #ffeecc;
    font-weight: bold;
}

.yellow_big {
    margin: 0px;
    line-height: 26px;
    font-size: 26px;
    font-family: tahoma;
    color: #ffeecc;
    font-weight: bold;
}

.middle_small {
    text-align: justify;
    margin: 4px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #0c162a;
}

.wide_small {
    margin: 2px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #0c162a;
}

.input {
    height: 14px;
}

#mainlinks {
    padding-top: 4px;
    width: 1000px;
    height: 25px;
    background: #0c162a;
    border-radius: 8px 8px 0px 0px;
}

#admin_mainlinks {
    padding-top: 4px;
    width: 1000px;
    height: 22px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffcc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffcc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffffcc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffffcc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #ffffcc); /* IE10+ */
    border: 1px dotted #7a4c2f;
    box-shadow: 2px 2px 2px #3d200e;
    -o-box-shadow: 2px 2px 2px #3d200e;
    -webkit-box-shadow: 2px 2px 2px #3d200e;
    -moz-box-shadow: 2px 2px 2px #3d200e;
    -moz-border-radius: 8px;
    border-radius: 6px;
}

a.microlink {
    font-weight: bold;
    margin: 2px;
    line-height: 14px;
    font-size: 12px;
    font-family: tahoma;
    color: #334455;
    text-decoration: none;
}

a.microlink:hover {
    font-weight: bold;
    margin: 2px;
    line-height: 14px;
    font-size: 12px;
    font-family: tahoma;
    color: #667788;
    text-decoration: none;
}

a.minilink {
    font-weight: bold;
    margin: 4px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #334455;
    text-decoration: none;
}

a.minilink:hover {
    font-weight: bold;
    margin: 4px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #667788;
    text-decoration: none;
}

a.message_link {
    font-weight: normal;
    margin: 4px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #0c162a;
    text-decoration: underline;
}

a.message_link:hover {
    font-weight: normal;
    margin: 4px;
    line-height: 16px;
    font-size: 12px;
    font-family: tahoma;
    color: #0c162a;
    text-decoration: none;
}

a.navigate {
    font-weight: bold;
    margin: 4px;
    line-height: 16px;
    font-size: 14px;
    font-family: tahoma;
    color: #ffeecc;
    text-decoration: none;
}

a.navigate:hover {
    font-weight: bold;
    margin: 4px;
    line-height: 16px;
    font-size: 14px;
    font-family: tahoma;
    color: #cccccc;
    text-decoration: none;
}

#start_number_form {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 152px;
    height: 150px;
    background-image: url('../img/design/number_form.png');
    background-repeat: no-repeat;
}

#end_number_text {
    position: absolute;
    left: 90px;
    top: 140px;
    width: 152px;
    height: 150px;
}

#register_form_link {
    margin-top: 52px;
    margin-left: 25px;
    width: 94px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: transparent;
    border: 0px;
}

#play_form_link {
    margin-top: 52px;
    margin-left: 25px;
    width: 94px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background: transparent;
    border: 0px;
}

#start_number_button {
    position: absolute;
    left: 230px;
    top: 120px;
    width: 150px;
}

#start_number_button a {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    width: 150px;
    height: 32px;
    padding: 2px 0px 2px 0px;
    color: #0c162a;
    font-family: tahoma;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffeecc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffeecc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffeecc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffeecc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #ffeecc); /* IE10+ */
    border: 2px solid #cccccc;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

#error_message {
    z-index: 10000;
    display: none;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    position: absolute;
    top: 210px;
    width: 270px;
    height: 70px;
    color: #0c162a;
    font-family: tahoma;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    border: 2px solid #ffe788;
    cursor: pointer;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: rgba(255, 230, 150, 0.95);
}

#score {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 230px;
    width: 150px;
    height: 58px;
    padding: 0px 0px 0px 0px;
    color: #0c162a;
    font-family: tahoma;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffeecc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffeecc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffeecc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffeecc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #ffeecc); /* IE10+ */
    border: 2px solid #cccccc;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#score input {
    height: 28px;
    font-size: 22px;
    text-align: center;
}

.lucky_number {
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    display: inline-table;
    width: 20px;
    height: 20px;
    color: #0c162a;
    font-family: tahoma;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffeecc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffeecc)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffeecc); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffeecc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #ffeecc); /* IE10+ */
    border: 2px solid #cccccc;
    box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#start_number_text {
    position: absolute;
    left: 80px;
    top: 67px;
    width: 152px;
    height: 40px;
}

#play_ground {
    position: relative;
    width: 500px;
    height: 450px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c162a', endColorstr='#42220f'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#0c162a), to(#42220f)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #0c162a, #42220f); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #0c162a, #42220f); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0c162a, #42220f); /* IE10+ */
    border: 1px dotted #7a4c2f;
    box-shadow: 2px 2px 2px #3d200e;
    -o-box-shadow: 2px 2px 2px #3d200e;
    -webkit-box-shadow: 2px 2px 2px #3d200e;
    -moz-box-shadow: 2px 2px 2px #3d200e;
    -moz-border-radius: 8px;
    border-radius: 6px;
}

#loading {
    z-index: 10000;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 450px;
    background: #030303;
    border: 1px dotted #7a4c2f;
    box-shadow: 2px 2px 2px #3d200e;
    -o-box-shadow: 2px 2px 2px #3d200e;
    -webkit-box-shadow: 2px 2px 2px #3d200e;
    -moz-box-shadow: 2px 2px 2px #3d200e;
    -moz-border-radius: 8px;
    border-radius: 6px;
}

#victory {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 500px;
    height: 450px;
    background: #030303;
    border: 1px dotted #7a4c2f;
    box-shadow: 2px 2px 2px #3d200e;
    -o-box-shadow: 2px 2px 2px #3d200e;
    -webkit-box-shadow: 2px 2px 2px #3d200e;
    -moz-box-shadow: 2px 2px 2px #3d200e;
    -moz-border-radius: 8px;
    border-radius: 6px;
}

#play_stat {
    display: block;
    width: 500px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c162a', endColorstr='#42220f'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#0c162a), to(#42220f)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #0c162a, #42220f); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #0c162a, #42220f); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0c162a, #42220f); /* IE10+ */
    border: 1px dotted #7a4c2f;
    box-shadow: 2px 2px 2px #3d200e;
    -o-box-shadow: 2px 2px 2px #3d200e;
    -webkit-box-shadow: 2px 2px 2px #3d200e;
    -moz-box-shadow: 2px 2px 2px #3d200e;
    -moz-border-radius: 8px;
    border-radius: 6px;
}

#winner_block {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 220px;
    min-height: 35px;
}

#autoplay {
    position: absolute;
    top: 5px;
    left: 140px;
    width: 220px;
    min-height: 35px;
    z-index: 10000;
}

.winner_block {
    padding: 2px;
    margin: 4px;
    display: block;
    width: 220px;
    height: 55px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #ffffff); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #cccccc, #ffffff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc, #ffffff); /* IE10+ */
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #3d200e;
    -o-box-shadow: 2px 2px 2px #3d200e;
    -webkit-box-shadow: 2px 2px 2px #3d200e;
    -moz-box-shadow: 2px 2px 2px #3d200e;
    -moz-border-radius: 8px;
    border-radius: 6px;
}

#client_gold_market_updater {
    position: absolute;
    top: 0px;
    left: 100px;
    z-index: 10000;
}

#winner_holder {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 500px;
    height: 40px;
}

#coin_holder {
    z-index: 99999;
    position: absolute;
    top: 20px;
    left: 420px;
    width: 80px;
    height: 420px;
}

.win_number_bg {
    background: #ff0000;
}

.no_win_number_bg {
    background: #0c162a;
}


#main_window {
    position: relative;
    top: 278px;
    margin: auto;
    width: 1000px;
    min-height: 720px;
    z-index: 9999;
    background: #eeeeee;
    border: 1px dotted #ffe573;
    box-shadow: 2px 2px 2px #535f13;
    -o-box-shadow: 2px 2px 2px #2d330a;
    -webkit-box-shadow: 2px 2px 2px #2d330a;
    -moz-box-shadow: 2px 2px 2px #2d330a;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#admin_main_window {
    position: relative;
    top: 257px;
    margin: auto;
    width: 1000px;
    min-height: 700px;
    z-index: 9999;
    background: #fffbdf;
    border: 2px solid #5f721d;
    box-shadow: 2px 2px 2px #535f13;
    -o-box-shadow: 2px 2px 2px #2d330a;
    -webkit-box-shadow: 2px 2px 2px #2d330a;
    -moz-box-shadow: 2px 2px 2px #2d330a;
    -moz-border-radius: 8px;
    border-radius: 8px;
}